.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 900;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Fjalla One";
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    background-color: #2c2c2c;
}

::-webkit-scrollbar {
    display: none;
}

#p-container {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 10px;
    scroll-snap-type: y mandatory;
}

header {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    scroll-snap-align: start;
}

header h1 {
    color: #2c2c2c;
    font-size: 9rem;
    text-align: center;
    letter-spacing: 5%;
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%) translateZ(-9px) scale(1.9, 3);

}

#man {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('assets/man.png') 100% -30% no-repeat;
    background-size: 80%;
    transform: translateZ(-9px) scale(1.9);
    z-index: -1;
}

#hills {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('assets/hills.png') center center no-repeat;
    background-size: cover;
    transform: translateZ(-5px) scale(1.5);
    z-index: -1;
}

#mountain {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: url('assets/mount.png') center center no-repeat;
    background-size: cover;
    transform: translateZ(-8px) scale(1.8);
    z-index: -1;
}

#sky {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: url('assets/sky.png') center center no-repeat;
    background-size: cover;
    transform: translateZ(-10px) scale(2);
    z-index: -1;
}

#points {
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    z-index: 1;
}

#points a {
    position: relative;
    color: white;
}

#points a::before {
    content: "";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: white;
    transition: all 400ms;
}

#points a:hover::before,
#points a.selected::before {
    transform: scale(1.15);
    background-color: red;
}

#points a::after {
    content: attr(link-name);
    position: absolute;
    display: block;
    width: max-content;
    font-size: 1.3rem;
    top: 50%;
    border-radius: 5px;
    right: 2rem;
    transform: translate(0%, -50%);
    background-color: red;
    padding: 0.3rem 0.8rem;
    pointer-events: none;
    opacity: 0;
    transition: all 400ms;
}

#points a:hover::after,
#points a.selected::after {
    opacity: 1;
    transform: translate(-10%, -50%);
}

#pages {
    color: white;
}


#aboutus {
    mask-image: linear-gradient(to top, black 95%, transparent);
}

.page {
    background-color: #292929;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    box-sizing: content-box;
}

.page:not(:last-child) {
    border-bottom: 10px solid black;
}