.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 900;
    font-style: normal;
}


:root {
    /* --primary: #313647;
    --primary-a: rgba(49, 54, 71, 0.5);
    --secondary: #435663;
    --accent: #A3B087;
    --second-accent: #FFF8D4;
    --second-accent-a: rgba(255, 248, 212, 0.1);
    --general-bg: #2c2c2c; */

    --black: #161616;
    --black-a: #111111;
    --white: #fffaee;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Fjalla One";
    -ms-overflow-style: none;
    scrollbar-width: none;
    line-height: 1.2;
}

::-webkit-scrollbar {
    display: none;
}

html {
    background-color: var(--black);
}

#p-container {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 10px;
    scroll-snap-type: y mandatory;
}

header {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    scroll-snap-align: start;
}

header h1 {
    color: var(--black);
    font-size: 9rem;
    text-align: center;
    letter-spacing: 5%;
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%) translateZ(-9px) scale(1.9, 3);

}

.parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#man {
    background: url('assets/img/man.png') 100% -30% no-repeat;
    background-size: 80%;
    transform: translateZ(-9px) scale(1.9);
}

#hills {
    background: url('assets/img/hills.png') center center no-repeat;
    background-size: cover;
    transform: translateZ(-5px) scale(1.5);
}

#mountain {
    bottom: 0;
    background: url('assets/img/mount.png') center center no-repeat;
    background-size: cover;
    transform: translateZ(-8px) scale(1.8);
    z-index: -1;
}

#sky {
    bottom: 0;
    background: url('assets/img/sky.png') center center no-repeat;
    background-size: cover;
    transform: translateZ(-10px) scale(2);
}

#points {
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    z-index: 1;
}

#points a {
    position: relative;
    color: var(--white);
}

#points a::before {
    content: "";
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background-color: var(--white);
    transition: all 400ms;
}

#points a:hover::before,
#points a.selected::before {
    transform: scale(1.15);
    background-color: var(--white);
    border: 3px solid red;
    box-shadow: 0 0 0 4px var(--black) inset;
    box-sizing: border-box;
}

#points a::after {
    content: attr(link-name);
    position: absolute;
    display: block;
    width: max-content;
    font-size: 1.4rem;
    top: 50%;
    border-radius: 5px;
    right: 2rem;
    transform: translate(0%, -50%);
    background-color: var(--white);
    color: var(--black);
    padding: 0.3rem 0.8rem;
    pointer-events: none;
    opacity: 0;
    transition: all 400ms;
}

#points a:hover::after,
#points a.selected::after {
    opacity: 1;
    transform: translate(-10%, -50%);
}

#pages {
    color: var(--white);
}

#pages .page {
    background-color: var(--black);
    background-Image: linear-gradient(45deg, transparent 14%, var(--black-a) 15%, var(--black-a) 20%, transparent 21%, transparent 79%, var(--black-a) 80%, var(--black-a) 85%, transparent 86%), linear-gradient(135deg, transparent 14%, var(--black-a) 15%, var(--black-a) 20%, transparent 21%, transparent 79%, var(--black-a) 80%, var(--black-a) 85%, transparent 86%), radial-gradient(transparent 14%, var(--black-a) 15%, var(--black-a) 25%, transparent 26%);
    background-size: 5em 5em;
    background-attachment: fixed;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding: 2%;
}

#pages .page h2 {
    display: block;
    border-bottom: 3px solid var(--white);
    font-size: 5rem;
    letter-spacing: 10%;
}

#idea #processes-container {
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin-top: 3rem;
}

#idea #processes-container h3 {
    text-align: center;
    font-size: 2.5rem;
}

#idea .process-block {
    position: relative;
    max-width: 50%;
    min-width: 7rem;
    background-color: rgba(80, 80, 80, 0.131);
    padding: 4% 4%;
    text-align: center;
    line-height: 100px;
    border-radius: 5px;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(103, 103, 103, 0.3);
    box-shadow: inset 0 1px 10px 1px rgba(117, 116, 116, 0.2);
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
    transition: all 500ms;
}

#idea .process-block:before {
    display: block;
    position: absolute;
    top: -1rem;
    left: -1rem;
    font-size: 1.1rem;
    width: 1rem;
    height: 1rem;
    padding: 0.4rem;
    line-height: 1;
    border: 3px solid var(--white);
    border-radius: 50%;
}

#idea #old-process {
    position: relative;
    counter-reset: old;
}

#idea #new-process {
    counter-reset: new;
}

#idea #old-process .process-block:before {
    counter-increment: old;
    content: counter(old);
}

#idea #new-process .process-block:before {
    counter-increment: new;
    content: counter(new);
}


.bad-block {
    background-image: repeating-linear-gradient(45deg,
            var(--black),
            var(--black) 10px,
            var(--black-a) 10px,
            var(--black-a) 20px);
    ;
    background-size: 200% 200%;
    animation: barberpole 10s linear infinite;
    opacity: .5;
}

@keyframes barberpole {
    100% {
        background-position: 100% 100%;
    }
}

#idea #processes-container>div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}