.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 900;
    font-style: normal;
}


:root {
    /* --primary: #313647;
    --primary-a: rgba(49, 54, 71, 0.5);
    --secondary: #435663;
    --accent: #A3B087;
    --second-accent: #FFF8D4;
    --second-accent-a: rgba(255, 248, 212, 0.1);
    --general-bg: #2c2c2c; */

    --black: #1c1c1c;
    --white: #fffaee;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Fjalla One";
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

html {
    background-color: var(--general-bg);
}

#p-container {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 10px;
    scroll-snap-type: y mandatory;
}

header {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    scroll-snap-align: start;
}

header h1 {
    color: var(--general-bg);
    font-size: 9rem;
    text-align: center;
    letter-spacing: 5%;
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%) translateZ(-9px) scale(1.9, 3);

}

.parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#man {
    background: url('assets/img/man.png') 100% -30% no-repeat;
    background-size: 80%;
    transform: translateZ(-9px) scale(1.9);
}

#hills {
    background: url('assets/img/hills.png') center center no-repeat;
    background-size: cover;
    transform: translateZ(-5px) scale(1.5);
}

#mountain {
    bottom: 0;
    background: url('assets/img/mount.png') center center no-repeat;
    background-size: cover;
    transform: translateZ(-8px) scale(1.8);
    z-index: -1;
}

#sky {
    bottom: 0;
    background: url('assets/img/sky.png') center center no-repeat;
    background-size: cover;
    transform: translateZ(-10px) scale(2);
}

#points {
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    z-index: 1;
}

#points a {
    position: relative;
    color: var(--second-accent);
}

#points a::before {
    content: "";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--second-accent);
    transition: all 400ms;
}

#points a:hover::before,
#points a.selected::before {
    transform: scale(1.15);
    background-color: var(--secondary);
}

#points a::after {
    content: attr(link-name);
    position: absolute;
    display: block;
    width: max-content;
    font-size: 1.3rem;
    top: 50%;
    border-radius: 5px;
    right: 2rem;
    transform: translate(0%, -50%);
    background-color: var(--secondary);
    padding: 0.3rem 0.8rem;
    pointer-events: none;
    opacity: 0;
    transition: all 400ms;
}

#points a:hover::after,
#points a.selected::after {
    opacity: 1;
    transform: translate(-10%, -50%);
}

#pages {
    color: var(--second-accent);
}

#pages .page {
    background-color: #292929;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    box-sizing: content-box;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#aboutus {
    background: url("assets/img/as.jpg") no-repeat center center;
}

#idea {
    background: url("assets/img/idea.jpg") no-repeat center center;
}

#form {
    background: url("assets/img/form.jpg") no-repeat center center;
}

.blur {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px) brightness(80%);
}

.desc {
    position: relative;
    width: 40rem;
    height: 35rem;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    background-color: var(--primary-a);
    border: 1px solid rgba(116, 121, 245, 0.174);
    box-shadow: inset 0 1px 10px 1px #4356637f;
}