:root {
    --bg-color: black;
    --body-bg-color: white;
    --body-half-band-color: rebeccapurple;
    --body-second-band-color: rgb(189, 133, 246);
    --github-badge-text-color: white;
    --github-badge-bg-color: #0A0A0A;
    --border-radius: 20px;
}

html {
    overflow-x: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

@keyframes right {
    0% {width: 0%; left: 0%}
    25% {width: 55%; left: 0%}
    50% {width: 100%; left: 0%}
    75% {left: 50%}
    100% {left: 100%}
}

body::after {
    content: "";
    display: block;
    position: absolute;
    top: 40%;
    left: 0;
    width: 110%;
    height: 30%;
    z-index: -1;
    background-color: var(--body-half-band-color);
    animation-name: right;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

body::before {
    content: "";
    display: block;
    position: absolute;
    top: 30%;
    left: 0;
    width: 110%;
    height: 50%;
    z-index: -1;
    background-color: var(--body-second-band-color);
}

header, main, footer {
    background-color: var(--body-bg-color);
    width: 50vw
}

header {
    text-align: center;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

div#docList {
    text-align: center;
}

ul {
    padding: 0;
    columns: 2;
    column-gap: 1em;
}

li {
    list-style-type: none;
}

div#githubBadge {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: var(--github-badge-bg-color);
    width: fit-content;
    padding: 0.5em;
    border-radius: 5px;
}

div#githubBadge img {
   margin-right: 0.5em;
}

div#githubBadge a {
    padding-left: 0;
    color: var(--github-badge-text-color);
    text-decoration: none; 
}

footer {
    text-align: center;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

footer div#teamUserDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a.teamUserLink {
    width: 15vw;
    color: black;
    text-decoration: none;
}

footer a.teamUserLink img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid black
}