on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install typst for file compiling
        uses: typst-community/setup-typst@v4
        with:
          typst-version: 0.13.x
      - name: Install Python for script execution
        run: sudo apt update && sudo apt install python3
      - name: Create output folder
        run: mkdir compiled
      - name: Compile typst files
        run: python3 .github/workflows/compile.py
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: CompiledPDF
          path: "./compiled"
  website:
    runs-on: ubuntu-latest
    needs: ["build"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Recover Pdf
        uses: actions/download-artifact@v5
        with:
          name: CompiledPDF
          path: ./CompiledPDF
      - name: Install Python for script execution
        run: sudo apt update && sudo apt install python3
      - name: changeIndex
        run: python3 .github/workflows/buildWebsite.py
      - name: Create destination folders
        run: |
          mkdir out
          mkdir out/css
          mkdir out/img
          mkdir out/compiled
          mkdir out/DiscoverWithAI
          mkdir out/DiscoverWithAI/assets
          mkdir out/DiscoverWithAI/js
      - name: Copy PDF files
        run: cp -a ./CompiledPDF ./out/compiled/
      - name: Copy HTML files
        run: |
          cp -a ./website/index.html ./out/
          cp -a ./DiscoverWithAI/index.html ./out/DiscoverWithAI
      - name: Copy CSS files
        run: |
          cp -a ./website/css ./out/
          cp -a ./DiscoverWithAI/style.css ./out/DiscoverWithAI
      - name: Copy images
        run: |
          cp -a ./website/img ./out/
          cp -a ./DiscoverWithAI/assets ./out/DiscoverWithAI/
      - name: Copy JavaScript files
        run: cp -a ./DiscoverWithAI/js ./out/DiscoverWithAI/
      - name: Upload Website Artifact
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./out"
      - name: Setup GitHub Pages
        if: github.ref == 'refs/heads/main'
        uses: actions/configure-pages@v5
  deploy:
    permissions:
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: [build, website]
    steps:
      - name: Upload website files
        id: deployment
        uses: actions/deploy-pages@v4
